.main__inner-container {
    margin: 1.5rem auto;
}

.main__table-panel-container {
    width: 80%;
}

.main__league-panel-container {
    width: 70%;
}

.main__team-page-container {
    width: 70%;
}

.main__table-panel-container,
.main__league-panel-container,
.main__team-page-container {
    margin: 0 auto;
}