.form-container {
    width: 30%;
}

.form__label-input {
    display: flex;

    margin-bottom: 1rem;

    justify-content: space-between;
}

.form__label-input:last-child {
    margin-bottom: 0;
}

.form__submit {
    width: 100%;
}

.form__error-message_hidden {
    visibility: hidden;
}

.form__error-message_visible {
    position: absolute;

    visibility: visible;

    padding: 0.25rem 0.75rem;

    color: #FFFFFF;
    background-color: #3b9f52;

    text-align: center;

    left: 105%;
    top: -0.1rem;

    width: 75%;
}