.team-item {
    display: flex;
}

.team-item__img {
    width: 6em;
    height: 6em;
}

.team-item__info-container {
    margin-left: 1em;
}

.team-item__name {
    font-size: 1.3em;
    font-weight: 500;
    
    text-decoration: underline;
}

.team-item__button {
    display: block;
}

.team-item__link {
    color: #000000;

    text-decoration: none;
}
